.Cover
{
	background: #2D4446;
	background-size: contain;
	text-align: center;
	height: 100%;
}

.Content
{
	background-color: #FDFDFD;
	text-align: center;
	height: 100%;
	width: 100%;
}



.Page
{
	font-size: 2em;
	height: 100%;
	width: 100%;
	padding-top: 20%;
	text-align: center;

}

.Panel{
	width: 60%;
	vertical-align: center;
	margin: auto;
	background: #000000;
}


.Link{
	position: relative;
	font-size: 3em;
	width: 100%;
	padding: 2px;
	margin: 0 auto;
	margin-bottom: 10px;
	background-color: #00000000;
	mix-blend-mode: normal;

}

#About{
	background: #FFF5F7 ;
	background-size: contain;
}

#Contact{
	background-color: #38C249;
}

#Title
{	
	position: absolute;
	color: #FFF5F700;
	text-align: center;
	font-size: 4.5em;
	left: 50%;
	top: 50%;
	max-height: 18%;
	width: 60%;
	margin: -10% 0 0 -30%;
	letter-spacing: 0.1em;
	font-family: Montserrat, sans-serif;
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: 3;
  animation-direction: alternate;

}

@keyframes example {
  0%   {color: #FFF5F7}
  25%  {color: grey}
  50%  {color: #AFAFAF}
  100% {color: #FFF5F700}
}


html, body 
{
	height: 100%;
	width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	text-decoration: none;
	list-style: none;
}

