.Cover
{
	background: #2D4446 url("Cover.jpg") no-repeat center top;
	background-size: contain;
	text-align: center;
	height: 100%;
	width: 100%;
}

.Content
{
	background-color: #FDFDFD;
	text-align: center;
	height: 100%;
	width: 100%;
}

.Page
{
	font-size: 2em;
	height: 100%;
	width: 100%;
	text-align: center;

}

.Link{
	position: relative;
	font-size: 3em;
	width: 80%;
	padding: 2px;
	margin: 0 auto;
	margin-bottom: 10px;
	border-style: solid;
	border-width: 10px;
	border-color: #FAFAFFFA;
	background-color: #FAFAFFFA;
	mix-blend-mode: screen;
}

#About{
	background-color: #FFE527;
}

#Contact{
	background-color: #38C249;
}

#Title
{	
	position: absolute;
	border-style: solid;
	border-width: 10px;
	border-color: #EB3C55;
	color: #EB3C55;
	text-align: center;
	font-size: 4.5em;
	left: 50%;
	top: 50%;
	max-height: 18%;
	width: 60%;
	margin: -10% 0 0 -30%;
	overflow:hidden;
	letter-spacing: 0.1em;
}

html, body 
{
	height: 100%;
	width: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: Montserrat, sans-serif;
	text-decoration: none;
	list-style: none;
}

a:link{
	color: #000000FF;
}

a:visited{
	color: #000000FF;
}

a:hover{
	color: #2D4446;
}
a:active{
	color: #FDFDFD;
}