/*

TO_DOS

scroll down icon clickable and scrolls to next page.

to know more has to be animated to dissapear by scrolling to bottom.

maybe play around a bit with logo hide as scroll through website.

*/
:root{
	--text-primary: #FFF5F7;

	--bg-dark: #2D4446;
	--bg-light: #FDFDFD;
	--bg-medium: #ff9933;


}

body::-webkit-scrollbar{
	width: 0.5rem;
}

body::-webkit-scrollbar-track{
	background: var(--bg-dark);
}

body::-webkit-scrollbar-thumb{
	background: var(--bg-medium);
}


.Cover
{
	background: #2D4446;
	background-size: contain;
	text-align: center;
	height: 120%;
	/*background-image: url("795174.jpg");*/
}

.Content
{
	background-color: var(--bg-light);
	text-align: center;
	height: 100%;
	width: 100%;
}

.hundred {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50px;
}

#navi {
	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 4;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.9);
	overflow-x: hidden;
	transition: 0.5s;
  }

  .overlay-content {
	position: relative;
	top: 10%; /* 25% from the top */
	width: 100%; /* 100% width */
	text-align: center; /* Centered text/links */
	margin-left: 200px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  #navi a {
	padding: 8px;
	text-decoration: none;
	text-align: center;
	font-size: 36px;
	color: var(--bg-light);
	display: block; /* Display block instead of inline */
	transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  #navi a:hover, #navi a:focus {
	color: teal;
  }
  
  /* Position the close button (top right corner) */
  #navi .closebtn {
	position: absolute;
	background-image: linear-gradient(#df740c 10%, var(--bg-medium) 90%);
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 50px;
	font-size: 60px;
	color: var(--bg-light);
	text-align: center;
	line-height: 100px;
	cursor: pointer;
  }
   
  #navi .closebtn:hover{
	  background-color: teal;
	  background-image: none;
  }

#menubar{
	z-index: 3;
	width: 100px;
	margin: 50px;
	position: fixed;
	background-color: teal;
	
	cursor: pointer;
	/*background-image: linear-gradient(#96deda 10%, #50c9c3 90%);*/
	border-radius: 50%;
	padding-bottom: 25px;
	padding-top: 25px;
	transition: 0.3s;	
}

/*
@keyframes grch{
	0% {background-image: linear-gradient(#96deda 10%, #50c9c3 90%)}
	100% {background-image: linear-gradient(#df740c 10%, #ff9933 90%)}
}
*/
#menubar:hover {
	background-image: linear-gradient(#df740c 10%, #ff9933 90%);
	/*cursor: pointer;*/
}


.Page
{
	position: relative;
	font-size: 2em;
	height: 100%;
	width: 100%;
	padding-top: 5%;
	text-align: center;
	font-family: Montserrat, sans-serif;
	background: var(--bg-light);
}

#arrows{
    z-index: 0;
    /**/
    display: block;
    position: fixed;
    bottom: 50px;
    left: 50%;
    /**/
    background-color: #FFFFFF00;
    width: 30px;
    height: 30px;
    border-bottom: var(--bg-medium) 10px solid;
    border-right: var(--bg-medium) 10px solid;

    box-shadow: 10px 10px #FDFDFD00;

    transform: translate(-50%,-50%);
    transform: rotate(45deg);

    animation-name: glow;
    animation-duration: 2s;
    animation-iteration-count: 4;
    animation-delay: 2s;
 }

@keyframes glow {
  0% {
  	border-bottom:var(--bg-medium) 10px solid;
  	border-right: var(--bg-medium) 10px solid;
    
    box-shadow: 10px 10px #df740c00;
  }
  50% {
  	border-bottom: var(--bg-medium) 10px solid;
  	border-right: var(--bg-medium) 10px solid;
  	box-shadow: 20px 20px #df740c;
  }
  100% {
  	border-bottom: var(--bg-medium) 10px solid;
  	border-right: var(--bg-medium) 10px solid;
      box-shadow: 10px 10px #df740c00;
  }

}


.footer{
	position: relative;
	height:50px;
	padding-top: 15px;
	bottom:0px; 
	width:100%;
	text-align: center; 
	font-size: small;
	background-color: var(--bg-dark);
	color: #FDFDFD;
	z-index: 1;
	font-family: Montserrat, sans-serif;
}



/*contanct me links*/
#contact{
	position: relative;
	z-index: 1;
}


.Link{
	position: relative;
	display: inline-block;
	font-size: 2em;
	width: 25%;
	padding: 2px;
	margin: auto;
	margin-bottom: 20px;
	background-color: #00000000;
	transition: 0.5s;
	
}

.Link:hover {
	background-color: #F0F0F0;
	opacity: 1;
}

a{
	color: #2D4446;
	cursor: pointer;
}

/* Works*/


#Projects{
	background-color: teal;
	color: var(--bg-light);
	position: relative;
	height: 120%;
	width: 100%;
	padding-top: 5%;
	text-align: center;
	font-family: Montserrat, sans-serif; 
	display: inline-block;
}

#Projects > h1{
	font-weight: bolder;
	font-size: 3em;
}



/*ABOUT*/

#About{
	position: relative;
	height: 100%;
	background-color: var(--bg-light);
	font-family: Montserrat, sans-serif;
	display: flex;
	padding: 12%;
	z-index: 1;
}


#ppic{
	width: 600px;
	margin: 10px;
}

#ppic > img{
	width : auto;
	max-height: 600px;
	
}

#bio{
	flex-grow: 1;
	width: 50%;
	font-size: 2em;
	color:var(--bg-dark);
}

#bio > h1{
	color: teal;
	font-weight: bolder;
	font-size: 3em;
}
/*Title page and setting up website no borders thing*/

#Title
{	
	position: -webkit-sticky;/*Safari*/
 	position: sticky;
	color: #FFF5F7;
	text-align: center;
	font-size: 4.5em;
	display: inline-block;
	top: 50%;
	padding-left: 0.3em;
	padding-right: 0.2em;
	margin-bottom: 2%;
	letter-spacing: 0.1em;
	font-family: Montserrat, sans-serif;
	outline-width: thick;
	outline-style: solid;
	transition: .3s;
}

#Title:hover{
	color: teal;
}

html, body 
{
	height: 100%;
	width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}


/*setup stuff and icons and animations maybe*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	text-decoration: none;
	list-style: none;
}


